body {
    margin: 0px;
    padding: 0px;
    background-color: fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(70px, auto);
    font-family: Muli;

}
#header {
    grid-column: 1 /4;
    grid-row: 1 / 1;
    color: white;
    background-color: #404241;
    align-items: center;
}
.menu {
    
position: absolute;
width: 72px;
height: 60px;
left: 22px;
top: 5px;
color: white;
}
.menu:hover {
    background-color: white;
}

li {
    text-decoration: none;
    display: inline;
    text-transform: uppercase;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    
}
li a {
    color: white;
    text-decoration: none;
}
li a:hover {
text-decoration: underline;
}
li a:active {
    background-color: burlywood;
}

#content {
    grid-column: 1 /4;
    grid-row: 2;
    background-color: white; 
}

#part1 {
    float:left;
    grid-column: 1 /2;
    grid-row: 2;
    background-color: white;

}
#part2 {
   float: right;
   align-items: center;
   padding: 30px;
}
.salute {
    position: absolute;
    width: 712px;
    height: 80px;
    left: 132px;
    top: 218px;
    
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    
    color: #000000;
    
}
.work {

    position: absolute;
    width: 356px;
    height: 150px;
    left: 255px;
    top: 296px;
    
   
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}
.inspire {
    position: absolute;
    width: 473px;
    height: 94px;
    left: 178px;
    top: 497px;
    
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

#menu {
  float: left;
}
.menu {
    color: white;

}
#navigation {
    float: right;
}
.profile {
    position: absolute;
    width: 400px;
    height: 405px;
    left: 949px;
    top: 215px;
    border: 1px solid #857E7E;
    box-sizing: border-box;
    border-radius: 54px;
}
.button {
    position: absolute;
    width: 278px;
    height: 60px;
    left: 994px;
    top: 656px;
    text-align: center;

    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    background-color: #404241;
}
#footer {
    clear: both;

}
.footer {
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: #000000;
    left: 495px;
    top: 750px;
}
