body {
    margin: 0px;
    padding: 0px;
    background-color: fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);

}
#header {
    grid-column: 1 / 3;
    grid-row: 1;
    color: white;
    background-color: #404241;
}

#part1 {
    float:right;
}
#part2 {
    float:left;
}
