body {
    margin: 0px;
    padding: 0px;
    background-color: fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(70px, auto);
    font-family: Muli;

}
#header {
    grid-column: 1 /4;
    grid-row: 1 / 1;
    color: white;
    background-color: #404241;
    align-items: center;
}
.menu {
    
position: absolute;
width: 72px;
height: 60px;
left: 22px;
top: 5px;
color: white;
}
.menu:hover {
    background-color: white;
}

li {
    text-decoration: none;
    display: inline;
    text-transform: uppercase;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    
}
li a {
    color: white;
    text-decoration: none;
}
li a:hover {
text-decoration: underline;
}
li a:active {
    background-color: burlywood;
}
a {
    color: blue;
    text-decoration: none;
}

#menu {
    float: left;
  }
  
  .menu {
      color: white;
  
  }
  #navigation {
      float: right;
  }

form {
    position: absolute;
    width: 848px;
    height: 552px;
    left: 353px;
    top: 140px;
    padding: 30px;

    background: #E1E2E2;
}
input {
    background: #E1E2E2;
    border-style: none;
    font-size: 18px;
    width: 554px;
    height: 20px;
    margin: 20px;
}
p {
    font-size: 18px;
    color: black;
}
.title {
    color: black;
    font-size: 22px;
}
.forget {
    text-align: end;
}
button{
    position: absolute;
    width: 278px;
    height: 61px;
    align-items: center;

    background: #404241;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    font-size: 22px;
    }
#footer {
    clear: both;

}
.footer {
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: #000000;
    left: 495px;
    top: 750px;
}
